<!-- View Children -->
<!-- <div>

  <div>
    <label>First Name</label>
    <input type="text" placeholder="First Name" #inputRef/>
  </div>

  <div>
    <label>Middle Name</label>
    <input type="text" placeholder="Middle Name" #inputRef/>
  </div>

  <div>
    <label>Last Name</label>
    <input type="text" placeholder="Last Name" #inputRef/>
  </div>

  <button (click)="showFullName()">Show Full Name</button>

  <i>{{fullName}}</i>
</div> -->

<!-- <app-ngtemplate></app-ngtemplate> -->

<!-- Comment app-ng-container to check this -->
<!-- <app-ngcontainer></app-ngcontainer> -->

<!-- ContentChild() decorator is used to access a referece of DOM element or  a component or directive from a projected content into child component class-->

<app-parent></app-parent>